body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: auto;
  position: sticky;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  padding-top: 20px;
}

li {
  margin-right: 20px;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#horario_de_atencion, #contacto {
  display: inline-block;
  width: 45%;
  margin-right: 5px;
  box-sizing: border-box;
}

#agenda_tu_hora {
  background-color:dodgerblue;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

#avatar {
  border-radius: 10%;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
}

#descripcion {
  display: inline-block;
  width: 70%;
  margin-left: 50px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url('logo_font/KaushanScript-Regular.ttf');
}

#logo_container {
  width: 200px;
  color: dodgerblue;
}

#logo_title {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 0;
}

#logo_subtitle {
  border-top: 1px solid dodgerblue;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

@media only screen and (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logo_container {
    width: 100%;
    color: dodgerblue;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li {
    padding-top: 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  #avatar {
    width: 40%;
    height: 50%;
    margin: 5%;
  }

  #descripcion {
    display: inline-block;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
  }
}

